/*main*/
main .carousel-fade .carousel-item {
  height: auto;
}

main .carousel-fade .carousel-item img {
  height:100vh;
  width:100%;
  max-width:100%;
  background-size:cover;
  background-origin:content-box;
  background-clip:content-box;
  background-position:center;
  color:rgba(0,0,0,0.56);
  filter:brightness(30%);
  right:0;
  left:0;
  resize:both;
}

main .carousel-control-prev-icon, main .carousel-control-next-icon {
  background:none;
  border:2px solid #fff;
  height:60px;
  width:60px;
  line-height:55px;
  opacity:9 !important;
  filter:brightness(100%) !important;
  font-size:40px;
  border-radius:100%;
}

main .carousel-control-prev-icon:hover, main .carousel-control-next-icon:hover {
  background:#fff;
  opacity:9;
  color:#000;
}



main .carousel-caption {
  top:220px;
}

@media (min-width: 992px) {
  main .carousel-caption {
    top:220px !important;
  }
}

main .carousel-caption h3 {
  font-size:70px;
  text-align:center;
  font-weight:bold;
}

@media (min-width: 992px) {
  main .carousel-caption h3 {
    font-size:70px !important;
    text-align:center;
    font-weight:bold;
  }
}

main .carousel-caption p {
  font-size:30px;
  margin-top:20px;
  text-align:center;
}

@media (min-width: 992px) {
  main .carousel-caption p {
    font-size:30px !important;
    margin-top:20px;
    text-align:center;
  }
}

main .carousel-caption .btn {
  border:2px solid #fff;
  border-radius:0;
}

@media (min-width: 300px) {
  main .img-fluid.w-100.d-block {
    height:auto;
  }
}

@media (min-width: 576px) {
  main .img-fluid.w-100.d-block {
    height:auto;
  }
}

@media (min-width: 768px) {
  main .img-fluid.w-100.d-block {
    height:auto;
  }
}

@media (min-width: 992px) {
  main .img-fluid.w-100.d-block {
    height:100vh;
  }
}

@media (min-width: 300px) {
  main .carousel-caption {
    top:0;
    font-size:20px;
  }
}

@media (min-width: 300px) {
  main .carousel-caption h3 {
    font-size:20px;
  }
}

main .carousel-caption p {
  font-size:15px;
}

@media (min-width: 768px) {
  main .carousel-caption {
    top:100px;
  }
}

@media (min-width: 768px) {
  main .carousel-caption h3 {
    font-size:40px;
  }
}